.title{
    background-color: #27374D;
    color: white;
    
    text-align: center;
    font-size: 70px;
}
.body{
    background-color: #526D82;
}
.body2{
    background-color: #526D82;
}

.bodywrap{
    background-color: #526D82;
}
.centre0{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.centre01{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.list{
    text-align: center;
    font-size: 20px;
    color: white;
    
}
#recipe{
    text-align: center;
    list-style-position: inside;
}

.wrap{
    background-color:  #27374D;
    color: white;
    padding-bottom: 5px;
    text-align: center;
    font-size: 70px;

}
 .wing{
    background-color:  #27374D;
    color: white;
    padding-left: 5px;
    text-align: center;

 }
 .wing01{
    text-align: center;
    list-style-position: inside;
    color: white;

 }
 .wing02{
    text-align: center;
    list-style-position: inside;
    color: white;
 }
#W1{
    background-color:  #27374D;
    color: white;
    border: 2px solid  #27374D;
    margin: auto;
    text-align: center;
    width: 150px;
 }
 #W2{
    background-color:  #27374D;
    color: white;
    border: 2px solid  #27374D;
    margin: auto;
    text-align: center;
    width: 150px;
 }
 .wdir{
    background-color:  #27374D;
    color: white;
    padding-left: 5px;
    text-align: center;
 }
 .wdir01{
    text-align: center;
    list-style-position: inside;
    color: white;

 }

 .bread{
    background-color:  #27374D;
    color: white;
    padding-bottom: 5px;
    text-align: center;
    font-size: 70px;
 }
 .centre02{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

 .bing{
    background-color:  #27374D;
    color: white;
    padding-left: 5px;
    text-align: center;
 }
 .bing1{
    text-align: center;
    list-style-position: inside;
    color: white;

 }
 .bdir{
    background-color:  #27374D;
    color: white;
    padding-left: 5px;
    text-align: center;

 }
 .bdir2{
    text-align: center;
    list-style-position: inside;
    color: white;

 }